<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>

		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<form action="/home/team_stats" method="get">
				<%
				if (data) {
					var table_stats = '';
					data.forEach(function(item){
					table_stats += '<tr>' + '<td>' + item.game_date + '</td>' + '<td>' + item.visitor_name + '</td>' + '<td>' + item.home_score + '</td>' + '<td>' + item.visitor_score + '</td>';
					if(item.home_score > item.visitor_score)
						{
							table_stats += '<td>' + 'CU Boulder' + '</td>' + '</tr>';
						}
					else
						{
							table_stats += '<td>' + item.visitor_name + '</td>' + '</tr>';
						}
					}); _%>
					<%- table_stats %>
					<% } %>
			</form>
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> 5</td>
				<td> 7</td>
			</tr>
		</table>

	</div>
<% include ../partials/footer %>
